<div class="row-fluid" id="ktmineBanner">
    <div id="innerktBanner">
        <img id="ktLogo" src="@Url.Content("~/Content/images/ktMINE_finalogo.png")" alt="" />
        <div id="bannerText">
            <h3>
                ktMINE Bootstrap</h3>
            <h1>
                Overview</h1>
        </div>
    </div>
</div>
