<div class="navbar" id="ktNavbar">
    <div class="navbar-inner">
        <div class="row-fluid">
            <div class="span12">
                <div class="container">
                    <ul class="nav">
                        <li><a href="/">Home</a> </li>
                        <li><a href="/Home/About">About</a> </li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Links</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Sub 1</a></li>
                                <li><a href="#">Sub 2</a></li>
                                <li><a href="#">Sub 3</a></li>
                                <li><a href="#">Sub 4</a></li>
                                <li class="nav-header">List header</li>
                                <li><a href="#">Sub 1</a></li>
                                <li><a href="#">Sub 2</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="navText">email@@ktmine.com</li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
