@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<div>
    <ul class="nav nav-tabs">
        <li>
            <a href="#">First</a>
        </li>
        <li>
            <a href="#">Second</a>
        </li>
        <li>
            <a href="#">Third</a>
        </li>
    </ul>
    <h4 class="ktHeader">ktMINE Header</h4>

    Main page content goes here
</div>