@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>


<div>
    <ul class="nav nav-tabs">
        <li>
            <a href="#">First</a>
        </li>
        <li>
            <a href="#">Second</a>
        </li>
        <li>
            <a href="#">Third</a>
        </li>
    </ul>
</div>
<div>
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
</div>
<br />
<div>
    Regular text<br /><br />
    <a href="#">Regular link</a>
    <span rel="tooltip" title="SIC Code Warning" class="ktIcon ktWarningOn"></span>
    <span rel="tooltip" title="ktWarningOff" class="ktIcon ktWarningOff"></span>
    <br /><br />
    <input type="button" class="btn ktButton" value="Button" />
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-tooltip.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/ktScript.js")"></script>