@{
    ViewBag.Title = "ktMINE Bootstrap";
}
<div class="container">
    <div>
        <div class="hero-unit">
            <h1>
                ktMINE Bootstrap</h1>
            <h3>
                ktMINE Bootstrap is a project for ktMINE applications built on Twitter Bootstrap
                to maintain styling consistency across products, adhere to branding, and allows
                developers to pay less attention to styling and more on the application itself.</h3>
        </div>
        <hr />
        <div class="row-fluid">
            <h2>
                Typography</h2>
            <div class="regBox">
                <h1>
                    h1</h1>
                <h2>
                    h2</h2>
                <h3>
                    h3</h3>
                <h4>
                    h4</h4>
                <h5>
                    h5</h5>
                <h6>
                    h6</h6>
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <h2>
                ktModal</h2>
            Modal component used for submission prompts, like save prompts for search filters.
            <div class="regBox">
                <div class="ktModal span6">
                    <div class="ktModalHeader">
                        <h3>
                            Modal Header</h3>
                        <div class="ktModalSubtext">
                            Header subtext goes here</div>
                    </div>
                    <div class="ktModalForm">
                        <form class="form-inline">
                        <label>
                            Form label:</label>
                        <input type="text" class="" />
                        <input type="button" class="btn" value="Cancel" />
                        <input type="button" class="btn ktButton" value="Save" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid regBox">
            <pre class="prettyprint lang-html">
    &lt;div class="ktModal span6"&gt;
        &lt;div class="ktModalHeader"&gt;
            &lt;h3&gt;
                Modal Header&lt;/h3&gt;
            &lt;div class="ktModalSubtext"&gt;
                Header subtext goes here&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ktModalForm"&gt;
            &lt;form class="form-inline"&gt;
            &lt;label&gt;
                Form label:&lt;/label&gt;
            &lt;input type="text" class="" /&gt;
            &lt;input type="button" class="btn" value="Cancel" /&gt;
            &lt;input type="button" class="btn ktButton" value="Save" /&gt;
            &lt;/form&gt;
        &lt;/div&gt;
    &lt;/div&gt;
            </pre>
        </div>
        <hr />
        <div class="row-fluid">
            <h2>
                Floating Box Container</h2>
            Floating containers that are versatile and can contain text content or combobox
            functionality - intentionally designed for RRF Search Center filter menus. Just
            add <code>.floatingBox</code> to an element.
            <div class="floatingBox regBox">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend commodo
                augue, et gravida nisi vulputate vitae. Praesent tempus volutpat nunc, sit amet
                suscipit leo vehicula id. Curabitur at neque et orci ullamcorper venenatis eget
                vel tortor. Ut rhoncus aliquet purus, quis dictum augue scelerisque ac. Quisque
                consequat sapien ut ipsum pharetra ac blandit ipsum ultricies. Integer eu sem sit
                amet dui ornare tempus sed vitae odio. Praesent et augue nisl. Nulla elit velit,
                imperdiet quis faucibus ut, venenatis at risus.
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <h2>
                Content Tabs</h2>
            Content tabs are used to separate content sections similar to the ones seen on the
            ktMINE public website.
            <div class="regBox">
                <div class="row">
                    <div class="sectionTab span2">
                        <h3>
                            Tab title</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="sectionContent span3">
                        Regular text<br />
                        <a href="#">Regular link</a> <span rel="tooltip" title="SIC Code Warning" class="ktIcon ktWarningOn">
                        </span><span rel="tooltip" title="ktWarningOff" class="ktIcon ktWarningOff"></span>
                        <br />
                        <br />
                        <input type="button" class="btn ktButton" value="ktButton" />
                        <input type="button" class="btn" value="Default Button" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid regBox">
            <pre class="prettyprint lang-html">
    &lt;div class="row"&gt;
        &lt;div class="sectionTab span2"&gt;
            &lt;h3&gt;
                Tab title&lt;/h3&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="row"&gt;
        &lt;div class="sectionContent span3"&gt;
            Regular text&lt;br /&gt;
            &lt;a href="#"&gt;Regular link&lt;/a&gt; &lt;span rel="tooltip" title="SIC Code Warning" class="ktIcon ktWarningOn"&gt;
            &lt;/span&gt;&lt;span rel="tooltip" title="ktWarningOff" class="ktIcon ktWarningOff"&gt;&lt;/span&gt;
            &lt;br /&gt;
            &lt;br /&gt;
            &lt;input type="button" class="btn ktButton" value="ktButton" /&gt;
            &lt;input type="button" class="btn" value="Default Button" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
                </pre>
        </div>
        <hr />
        <div class="row-fluid">
            <h2>
                Infoboxes</h2>
            Infoboxes are used to contain primary content material, such as agreement summaries
            within LAF or RRF. Subtext portions can be duplicated as many times as necessary
            within an infobox.
            <div class="regBox">
                <div class="infoBox span8">
                    <div class="infoBoxTitle">
                        <h2>
                            Title goes here</h2>
                    </div>
                    <div class="infoSubtext">
                        Subtext goes here
                    </div>
                    <div class="infoSubtext">
                        Subtext goes here
                    </div>
                    <div class="infoSubtext">
                        Subtext goes here
                    </div>
                    <div class="infoContent">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum venenatis
                        mauris, nec egestas turpis tristique quis. Mauris euismod congue leo, vitae hendrerit
                        ipsum sagittis sed. In metus sem, bibendum sed sagittis a, convallis nec libero.
                        Aliquam hendrerit ullamcorper sodales. Etiam aliquet purus quis sapien egestas ac
                        posuere massa pharetra. Donec ultrices turpis fringilla enim eleifend commodo. Sed
                        augue arcu, euismod id scelerisque gravida, rhoncus a erat. Nunc et metus vitae
                        ante sollicitudin facilisis. In dictum arcu et nulla feugiat adipiscing. Curabitur
                        sodales, urna sit amet gravida tincidunt, mauris eros pretium lorem, eget tempus
                        est ante sit amet nisl. Phasellus a mauris a nisl vehicula sodales malesuada at
                        lorem. Donec bibendum ornare elit non pretium. Fusce ipsum magna, volutpat nec luctus
                        posuere, eleifend sit amet lacus. Curabitur pretium tempus mi, at elementum est
                        consectetur et. Praesent et rutrum est.
                    </div>
                    <div class="infoFooter">
                        Footer text goes here.
                    </div>
                </div>
            </div>
            <div class="regBox row-fluid">
                <div class="regBox span12">
                    <pre class="prettyprint lang-html">
&lt;div class="infoBox span8"&gt;
    &lt;div class="infoBoxTitle"&gt;
        &lt;h2&gt;
            Title goes here&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="infoSubtext"&gt;
        Subtext goes here
    &lt;/div&gt;
    &lt;div class="infoSubtext"&gt;
        Subtext goes here
    &lt;/div&gt;
    &lt;div class="infoSubtext"&gt;
        Subtext goes here
    &lt;/div&gt;
    &lt;div class="infoContent"&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum venenatis
        mauris, nec egestas turpis tristique quis. Mauris euismod congue leo, vitae hendrerit
        ipsum sagittis sed. In metus sem, bibendum sed sagittis a, convallis nec libero.
        Aliquam hendrerit ullamcorper sodales. Etiam aliquet purus quis sapien egestas ac
        posuere massa pharetra. Donec ultrices turpis fringilla enim eleifend commodo. Sed
        augue arcu, euismod id scelerisque gravida, rhoncus a erat. Nunc et metus vitae
        ante sollicitudin facilisis. In dictum arcu et nulla feugiat adipiscing. Curabitur
        sodales, urna sit amet gravida tincidunt, mauris eros pretium lorem, eget tempus
        est ante sit amet nisl. Phasellus a mauris a nisl vehicula sodales malesuada at
        lorem. Donec bibendum ornare elit non pretium. Fusce ipsum magna, volutpat nec luctus
        posuere, eleifend sit amet lacus. Curabitur pretium tempus mi, at elementum est
        consectetur et. Praesent et rutrum est.
    &lt;/div&gt;
    &lt;div class="infoFooter"&gt;
        Footer text goes here.
    &lt;/div&gt;
&lt;/div&gt;
                </pre>
                </div>
            </div>
        </div>
        <hr />
        <div class="row-fluid regBox">
            <h2>
                ktHighlight</h2>
            A highlighting class derived from Twitter Bootstrap's labels, which can be used
            to highlight and emphasize relevant information in text documents. Just add the
            <code>.ktHighlight</code> class to a span element.
            <div class="floatingBox regBox">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum venenatis
                mauris, nec egestas turpis tristique quis. Mauris euismod congue leo, vitae hendrerit
                ipsum sagittis sed. In metus sem, bibendum sed sagittis a, convallis <span class="ktHighlight">
                    This is highlighted text</span> nec libero. Aliquam hendrerit ullamcorper sodales.
                Etiam aliquet purus quis sapien egestas ac posuere massa pharetra. Donec ultrices
                turpis fringilla enim eleifend commodo. Sed augue arcu, euismod id scelerisque gravida,
                rhoncus a erat. Nunc et metus vitae ante sollicitudin facilisis. In dictum arcu
                et nulla feugiat adipiscing. Curabitur sodales, urna sit amet gravida tincidunt,
                mauris eros pretium lorem, eget tempus est ante sit amet nisl. Phasellus a mauris
                a nisl vehicula sodales malesuada at lorem. Donec bibendum ornare elit non pretium.
                Fusce ipsum magna, volutpat nec luctus posuere, eleifend sit amet lacus. Curabitur
                pretium tempus mi, at elementum est consectetur et. Praesent et rutrum est.
            </div>
            <div class="regBox">
                <pre class="prettyprint lang-html">
&lt;span class="ktHighlight"&gt;This is highlighted text&lt;/span&gt;
                </pre>
            </div>
        </div>
        <hr />
        <div class="row-fluid regBox">
            <h2>
                Action Buttons</h2>
            Action buttons are essentially links with associated icons and text. In most instances,
            they can be used to provide users with quick actions with a visual represenation
            of the associated action. Just apply the associated icon to a link.
            <div class="floatingBox regBox span2">
                <a href="#"><span class="ktIcon ktFavstar"></span>Favorite</a>
            </div>
        </div>
        <div class="regBox">
            <pre class="prettyprint lang-html">
&lt;a href="#"&gt;&lt;span class="ktIcon ktFavstar"&gt;&lt;/span&gt;Favorite&lt;/a&gt;
            </pre>
        </div>
        <hr />
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-tooltip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ktScript.js")"></script>
</div>
